<!--<html>
    <head>
        <title>Mainpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="#section3">Contact</a></li>
                <li><a class="nav-link" routerLink="/login">Login In</a></li>
                <li><a href="#section2">About</a></li>
                <li><a href="#section1">Home</a></li>
                </ul>
        </nav>
        <div class="#section1">
            <div class="slider">
                <div class="sliderchild">
                <div class="imagecon"></div>
                <div class="imagecon"></div>
                <div class="imagecon"></div>

                </div>
            </div>
        </div>
       <div class="#section2">
           <div class ="container">
              <div class="box">
                  <div class="icon"><i class="fa fa-bomb" aria-hidden="true"></i></div>
              </div> 
              <div class="box">
            </div> 
            <div class="box">
            </div> 
           </div>
        </div>


        
    
    </body>
</html>-->
<div class="container1">
    <div class="modal fade" id="loginModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form #loginForm="ngForm" >
                        <div class ="loginbox">
                        <h1>Login</h1>
                        <p>Username</p>
                        <input type="text" name="loginId" ngModel #loginId="ngModel" required class="form-control"  placeholder = "Enter Username">
                        <p>Password</p>
                        <input type="password" name="password" ngModel #password="ngModel" required class="form-control" placeholder="Enter Password">
                        <input type ="submit" (click)="loginSubmit(loginForm.value)"[disabled]="!loginForm.valid" name ="" value="login" data-dismiss="modal">
                        <div class="xyz">
                        <a href="#" style="font-size: large;line-height: 35px;">forgot your password?</a><br>
                        <a class="nav-link" routerLink="/register" data-dismiss="modal" style="font-size: large;line-height: 35px;">Don't have an account?</a>
                    </div>
                    </div>
                   <!----<div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)">Invalid error Occured</div>
                                <div class="text-danger">
                                    <div *ngIf="loginId.errors?.required">Please Enter The LoginId</div>
                                    <div *ngIf="password.errors?.required">Please Enter The password</div>
                                </div>-->
                </form>
                </div>
            </div>
        </div>
    </div>

<!-- <html>
    <head>
        <title>Mainpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    </head>
    <body>
        <nav id="navbar">
             <a class="brand">Healthy<span>Byte</span></a>
            <ul>
                
                
                <li><a href="#section1">Home</a></li>
                <li><a href="#section2">About</a></li>
                <li><a (click)="showLoginPopup(loginForm)">Login</a></li>
                <li><a href="#section3">Contact</a></li>

                </ul>
        </nav>
        <br>
        <div id="section1">
            
            <div class="slider">
                <div class="sliderchild">
                <div class="imagecon"></div>
                <div class="imagecon"></div>
                <div class="imagecon"></div>
                <div class="imagecon"></div>

                </div>
            </div>
        </div>
       <div id="section2">
           <h4>This website guides you to be healthy and live your life to the fullest</h4>
           <div class ="container">
            <div class="box">
                <img [src]="imageUrl2" style="width: 150px;height: 150px;margin-left: 75px;margin-right: 10px;margin-top: 40px;"><br/>
                 <div><h5>Take some time to make your soul happy</h5></div>
                <button type ="submit" name ="" value=""(click)="showLoginPopup(loginForm)">Yoga</button> 
                    
            </div> 
              <div class="box">
                <img [src]="imageUrl" style="width: 150px;height: 150px;margin-left: 75px;margin-right: 10px;margin-top: 40px;">
                 <h5>You are what you eat</h5><br> 
                <button type ="submit" name ="" value="Yoga"  (click)="showLoginPopup(loginForm)">Diet</button>  
            </div> 
            <div class="box">
                <img [src]="imageUrl3" style="width: 150px;height: 150px;margin-left: 75px;margin-right: 10px;margin-top: 40px;"><br/>
                 <h5>Get up and make your body move</h5>
                <button type ="submit" name ="" value="Yoga"(click)="showLoginPopup(loginForm)">Fitness</button>
            </div> 
           </div>
        </div>
        <div id ="section3">
            <h1></h1>
        </div>
            <script>
                var prevScrollpos = window.pageYOffset;
                window.onscroll = function() {
                var currentScrollPos = window.pageYOffset;
                  if (prevScrollpos > currentScrollPos) {
                    document.getElementById("navbar").style.top = "0";
                  } else {
                    document.getElementById("navbar").style.top = "-20px";
                  }
                  prevScrollpos = currentScrollPos;
                }
                </script>
                
            

        
    
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WebSite Development</title>
</head>
<body>
    <div class="header row" style="height:80px;background-color:black">
        <div class="col-md-2">
              <img [src] = "logo">
        </div>
        <div class="col-md-6 seg1"></div>
           <div class="col-md-1 seg1">
            <a href="#">Home</a>
           </div>
           <div class="col-md-1 seg1">
            <a href="#about">About</a>
        </div>
        <div class="col-md-1 seg1">
            <a href="#services">Services</a>
        </div> 
        <div class="col-md-1 seg1">
            <a href="#contactus">Contact</a>
        </div>
     
     
        
     </div>
<!-- <div class="main_container" id="home"> -->
    <!-- <div class="row">
    <nav class="navbar">
        <div class="logo">
            <img [src]="logo">
             <h3>Healthy<span>Byte</span></h3> 
        </div>
        <div class="navbar_items">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#services">services</a></li>
                <li><a href="#contactus">contact</a></li>
                <li><a href="#ourteam">our team</a></li>
            </ul>
        </div>
    </nav>
</div> -->
    <div class="main_container" id="home">

    <div class="banner_image">
        <div class="banner_content">
            <h1>Weight loss begins with you <br> and ends with Healthy Byte.<br><br> 
                <span>Get started on your journey <br>to lose your weight for good.</span></h1><br>
                <button (click)="showLoginPopup(loginForm)">Get Started</button>
        </div>
        <!-- <div>
            <li><a href="#ourteam">Get Started</a></li>
        </div>   -->
    </div>

    <div class="about" id="about">
        <h1 class="title">About Us</h1>
        <p>We at HealthyByte believe in healthy practices and encourage our users not to follow crash, starvation diets, and instead opt for healthy weight loss, weight gain and muscle building. Once a user goes Premium, our dieticians understand the lifestyle challenges, food preferences, allergies, and other key details to create a personalized diet plan that fits in their lifestyle.</p>
        <div class="btn"><a href="#">Learn More</a></div>
    </div>

    <div class="services" id="services">
        <h1 class="title">our Services</h1>
        <p>Our weight loss methods are backed by science and facilitate healthy living by personalized diet plans and exercise routines that are designed exclusively for you and fit in your daily lifestyle. We make minor lifestyle modifications, help create healthy habits to help you achieve much more than just weight loss.</p>
        <div class="diff_services">
            <div class="diff_services_item1">
                <a (click)="showLoginPopup(loginForm)"> <img [src]="imageUrl2" alt="Trulli" width="300" height="300"></a>
         <h3 class="sub_title">YOGA</h3>
        <div class="image1"></div>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
        </div>
            <div class="diff_services_item2">
                <a (click)="showLoginPopup(loginForm)"><img [src]="imageUrl" width="350" height="310"></a>
        <h3 class="sub_title">DIET</h3>
        <div class="image2"></div>
               <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
            </div>
            <div class="diff_services_item3">
                <a (click)="showLoginPopup(loginForm)"><img [src]="imageUrl3" width="330" height="320"></a>
        <h3 class="sub_title">FITNESS</h3>
        <div class="image3"></div>
               <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
            </div>
        </div>
    </div>
    <div class="contactus" id="contactus">
        <h1 class="title">contact us</h1>
        <div class="form_wrapper">
            <div class="form_input">
                <input type="text" placeholder="Email">
            </div>
            <div class="form_input">
                <input type="text" placeholder="Subject">
            </div>
            <div class="form_input">
                <textarea placeholder="Message"></textarea>
            </div>
            <div class="btn">
                <a href="#">Submit</a>
            </div>
        </div>
    </div>


    <!-- <div class="ourteam" id="ourteam">
        <h1 class="title">our team</h1>
        <div class="ourteam_wrapper">
            <div class="team-1 team">
                <div class="team_members" data-name="nathan john"></div>
                <div class="team_members" data-name="Alyssa Healy"></div>
                <div class="team_members" data-name="Alec Stewart"></div>
            </div>
            <div class="team-2 team">
                <div class="team_members" data-name="Michael Rippon"></div>
                <div class="team_members" data-name="Meg Lanning"></div>
                <div class="team_members" data-name="Sophie Devine"></div>
            </div>
    </div>
    </div> -->
  


    <div class="footer">
        <a href="#"></a>
    </div>


    <div class="arrow">
        <a href="#home"><!--<img src="images/arrow.png" alt="up_arrow">--></a>
    </div>
</div>