<!--<html>

<head>
    <title>Mainpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="imgbx1">

            </div>
            <div class="content">
                <h2>Shavasana – Corpse Pose</h2>
                <br/>
                <p>Shavasana (corpse pose) is one of the best yoga poses for beginners which is very easy and simple. It should be done before and at the end of practicing yoga asanas.</p>
                <p>1. Always start yoga poses with Shavasana.</p>
                <p>2. Lie flat on your back, like our sleeping pose.</p>
                <p>3. Legs should be separated.</p>
                <p>4. Concentrate on your breathing and relax for a few minutes.</p>
                <br/>
                <h5>Benefits - <h6>Relaxes your body, improves concentration.</h6></h5>

            </div>
        </div>
        <div class="card">
            <div class="imgbx2">


            </div>
            <div class="content">
                <h2>Mountain pose – Tadasana</h2>
                <br/>
                <p>1. Stand straight with feet together. Keep a small distance between two feet and relax.</p>
                <p>2. While taking a deep breath, stand on your toes and raise your hand overhead. You can join your fingers of the hand.</p>
                <p>3. Hold this position as much as you can (15-20 second) and stretch your body upward as far as possible.</p>
                <p>4. Then while exhaling bring down your hands and heels as in starting position.</p>
                <br/>
                <h5>Benefits - <h6>Increase height, improve posture, protect from spine problems</h6></h5>
            </div>
        </div>
        <div class="card">
            <div class="imgbx3">
                <div class="img"></div>
            </div>
            <div class="content">
                <h2>Dog pose - Adhomukhasana</h2>
                <br/>
                <p>1. Stand straight by keeping some distance between your feet.</p>
                <p>2. Now slowly bend downward in such a way to make “V” shape.</p>
                <p>3. While breathing out lift your toes and try to push yourself back. Do not bend legs or hands.  It will give a good stretch on your back, hands, and legs.</p>
                <p>4. Take a deep breath and hold this position for some time</p>
                <p>5. Now, while exhaling slowly come in your starting, position.</p>
                <br/>
                <h5>Benefits - <h6>Tone muscles, cure sinus problem, stretches entire body, improve blood circulation.</h6></h5>
            </div>
        </div>
        <div class="card">
            <div class="imgbx4">


            </div>
            <div class="content">
                <h2>Warrior pose – Virabhadrasana</h2>
                <br/>
                <p>1. Stand straight with your legs by keeping distance 3-4 feet between each other.</p>
                <p>2. Inhale and raise both hands parallel to the ground and turn your head to the right.</p>
                <p>3. While exhaling slowly turn your right foot at 90 degrees to the right.</p>
                <p>4. Slowly bend your right knee as shown in the above image. And hold this position for some time.</p>
                <p>5. Repeat this for, cycle for 4-5 times.</p>
                <br/>
                <h5>Benefits - <h6>Gives strength to the legs, arms, lower back and tones your lower body.</h6></h5>
            </div>
        </div>
        <div class="card">
            <div class="imgbx5">

            </div>
            <div class="content">
                <h2>Tree pose – Vrikasana</h2>
                <br/>
                <p>1. Stand straight with arms at sides.</p>
                <p>2. Place your sole of right foot on the thigh above the knee of the left leg.</p>
                <p>3. After balancing bring hands in front of you in prayer position and raise upward.</p>
                <p>4. Hold this position for 30 seconds.</p>
                <br/>
                <h5>Benefits - <h6>Improve balance, strengthens thigh, legs, calves, ankles, and spine.</h6></h5>
            </div>
        </div>
        <div class="card">
            <div class="imgbx6">

            </div>
            <div class="content">
                <h2>Bridge Pose – Setubandhasana</h2>
                <br/>
                <p>1. Lie flat on the ground and keep your arms at your sides.</p>
                <p>2. Lift your lower body.</p>
                <p>3. Breathe deeply in this position for 20-30 second.</p>
                <p>4. Then relax by bringing down your lower body as in starting position.</p>
                <p>5. Repeat this cycle for 4-5 times.</p>
                <br/>
                <h5>Benefits - <h6> Reduces stress and strengthens your chest, back, and spine.</h6></h5>
            </div>
        </div>
        <div class="card">
            <div class="imgbx7">

            </div>
            <div class="content">
                <h2>Triangle pose – Trikonasana</h2>
                <br/>
                <p>1. First to stand by keeping distance between two feet.</p>
                <p>2. Now turn your right leg at around 90 degrees.</p>
                <p>3. Now bend at right side while exhaling and your left hand facing towards the ceiling and right hand touching your right toe.</p>
                <p>4. Stay for 1-2 minutes in this posture.</p>
                <br/>
                <h5>Benefits - <h6> Stretches entire body, improve blood circulation, stimulate function of kidney.</h6></h5>
            </div>
        </div>
        <div class="card">
            <div class="imgbx8">

            </div>
            <div class="content">
                <h2>Cobra Pose – Bhujangasana</h2>
                <br/>
                <p>1. Lie down on your stomach.</p>
                <p>2. Take a deep breath and lift your upper body like head, neck, shoulders, chest upwards.</p>
                <p>3. Hold this position for some time. Now exhale and bring your upper body to the ground.</p>
                <p>4. Repeat this cycle for 4-5 times.</p>
                <br/>
                <h5>Benefits - <h6> Cures acidity, indigestion, and constipation, reduce belly fat, improve blood circulation.</h6></h5>
            </div>
        </div>
        <div class="card">
            <div class="imgbx9">

            </div>
            <div class="content">
                <h2>Baddhakonasana – Butterfly Pose</h2>
                <br/>
                <p>1. Sit straight on the floor with erect spine and bend your knees by bringing feet as close as possible.</p>
                <p>2. Try to touch the soles of your feet each other.</p>
                <p>3. Hold your feet with your hands.</p>
                <p>4. Start flapping like a butterfly by bringing thighs up and down slowly for 1-2 minutes.</p>
                <p>5. You can do it fast also. </p>
                <br/>
                <h5>Benefits - <h6> Improve function of abdominal organs, prostate glands, bladder, and kidneys.</h6></h5>
            </div>
        </div>
        <div class="card">
            <div class="imgbx10">

            </div>
            <div class="content">
                <h2>Balasana – Child Pose</h2>
                <br/>
                <p>1. Place your hand on thighs and palms down. Maintain the position of thighs.</p>
                <p>2. While exhaling slowly bring your chest between your knees and swinging hands forward.</p>
                <p>3. Breathe gently and hold the posture for 2 to 3 minutes.</p>
                <p>4. Then come to starting position. Repeat this cycle for 5-10 time.</p>
                <br/>
                <h5>Benefits - <h6> Releases stress, tension, and fatigue. Cures back pain.</h6></h5>
            </div>
        </div>
    </div>
</body>

</html>-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-I">
    <title>Html</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <input type="checkbox" id="check">
    <div id="header">
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>Healthy<span>Byte</span></h3>
        </div>
        <div class="right_area">
            <a href="#" class="logout_btn">Logout</a>
        </div>
    </div>
    <div id="navigation">
        <div class="left_area">
            <img [src]="logo">
        </div>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <!-- <div class="left_area">
            <img [src]="logo">
        </div> -->
        <a class="nav-link" routerLink="/main2"><i class="fas fa-home"></i><span>Home<br /></span></a>
        <a class="nav-link" routerLink="/yoga"><i class="fa fa-heartbeat"></i><span>Yoga<br /></span></a>
        <!-- <a class="nav-link" routerLink="/yourdiet"><i class="fa fa-cutlery"></i><span>Diet<br /></span></a> -->
        <a class="nav-link" routerLink="/fitness"><i class="fas fa-running"></i><span>Fitness</span></a>
        <a class="nav-link" routerLink="/blog"><i class="fab fa-blogger-b"></i><span>Blog</span></a>
        <a class="nav-link" routerLink="/discussion"><i class="fa fa-comments" aria-hidden="true"></i><span>Discussion</span></a>
    </div>
    <div id="section">
        <div class="container">
            <div class="card">
                <div class="imgbx1">

                </div>
                <br />
                <div class="content">
                    <h2>Shavasana – Corpse Pose</h2>
                    <br />
                    <p>Shavasana (corpse pose) is one of the best yoga poses for beginners which is very easy and
                        simple. It should be done before and at the end of practicing yoga asanas.</p>
                    <p>1. Always start yoga poses with Shavasana.</p>
                    <p>2. Lie flat on your back, like our sleeping pose.</p>
                    <p>3. Legs should be separated.</p>
                    <p>4. Concentrate on your breathing and relax for a few minutes.</p>
                    <br />
                    <h5>Benefits - <h6>Relaxes your body, improves concentration.</h6>
                    </h5>

                </div>
            </div>
            <div class="card">
                <div class="imgbx2">

                </div>
                <br />
                <div class="content">
                    <h2>Mountain pose – Tadasana</h2>
                    <br />
                    <p>1. Stand straight with feet together. Keep a small distance between two feet and relax.</p>
                    <p>2. While taking a deep breath, stand on your toes and raise your hand overhead. You can join your
                        fingers of the hand.</p>
                    <p>3. Hold this position as much as you can (15-20 second) and stretch your body upward as far as
                        possible.</p>
                    <p>4. Then while exhaling bring down your hands and heels as in starting position.</p>
                    <br />
                    <h5>Benefits - <h6>Increase height, improve posture, protect from spine problems</h6>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="imgbx3">
                    <div class="img"></div>
                </div>
                <br />
                <div class="content">
                    <h2>Dog pose - Adhomukhasana</h2>
                    <br />
                    <p>1. Stand straight by keeping some distance between your feet.</p>
                    <p>2. Now slowly bend downward in such a way to make “V” shape.</p>
                    <p>3. While breathing out lift your toes and try to push yourself back. Do not bend legs or hands.
                        It will give a good stretch on your back, hands, and legs.</p>
                    <p>4. Take a deep breath and hold this position for some time</p>
                    <p>5. Now, while exhaling slowly come in your starting, position.</p>
                    <br />
                    <h5>Benefits - <h6>Tone muscles, cure sinus problem, stretches entire body, improve blood
                            circulation.</h6>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="imgbx4">

                </div>
                <br />
                <div class="content">
                    <h2>Warrior pose – Virabhadrasana</h2>
                    <br />
                    <p>1. Stand straight with your legs by keeping distance 3-4 feet between each other.</p>
                    <p>2. Inhale and raise both hands parallel to the ground and turn your head to the right.</p>
                    <p>3. While exhaling slowly turn your right foot at 90 degrees to the right.</p>
                    <p>4. Slowly bend your right knee as shown in the above image. And hold this position for some time.
                    </p>
                    <p>5. Repeat this for, cycle for 4-5 times.</p>
                    <br />
                    <h5>Benefits - <h6>Gives strength to the legs, arms, lower back and tones your lower body.</h6>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="imgbx5">

                </div>
                <br />
                <div class="content">
                    <h2>Tree pose – Vrikasana</h2>
                    <br />
                    <p>1. Stand straight with arms at sides.</p>
                    <p>2. Place your sole of right foot on the thigh above the knee of the left leg.</p>
                    <p>3. After balancing bring hands in front of you in prayer position and raise upward.</p>
                    <p>4. Hold this position for 30 seconds.</p>
                    <br />
                    <h5>Benefits - <h6>Improve balance, strengthens thigh, legs, calves, ankles, and spine.</h6>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="imgbx6">

                </div>
                <br />
                <div class="content">
                    <h2>Bridge Pose – Setubandhasana</h2>
                    <br />
                    <p>1. Lie flat on the ground and keep your arms at your sides.</p>
                    <p>2. Lift your lower body.</p>
                    <p>3. Breathe deeply in this position for 20-30 second.</p>
                    <p>4. Then relax by bringing down your lower body as in starting position.</p>
                    <p>5. Repeat this cycle for 4-5 times.</p>
                    <br />
                    <h5>Benefits - <h6> Reduces stress and strengthens your chest, back, and spine.</h6>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="imgbx7">

                </div>
                <br />
                <div class="content">
                    <h2>Triangle pose – Trikonasana</h2>
                    <br />
                    <p>1. First to stand by keeping distance between two feet.</p>
                    <p>2. Now turn your right leg at around 90 degrees.</p>
                    <p>3. Now bend at right side while exhaling and your left hand facing towards the ceiling and right
                        hand touching your right toe.</p>
                    <p>4. Stay for 1-2 minutes in this posture.</p>
                    <br />
                    <h5>Benefits - <h6> Stretches entire body, improve blood circulation, stimulate function of kidney.
                        </h6>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="imgbx8">

                </div>
                <br />
                <div class="content">
                    <h2>Cobra Pose – Bhujangasana</h2>
                    <br />
                    <p>1. Lie down on your stomach.</p>
                    <p>2. Take a deep breath and lift your upper body like head, neck, shoulders, chest upwards.</p>
                    <p>3. Hold this position for some time. Now exhale and bring your upper body to the ground.</p>
                    <p>4. Repeat this cycle for 4-5 times.</p>
                    <br />
                    <h5>Benefits - <h6> Cures acidity, indigestion, and constipation, reduce belly fat, improve blood
                            circulation.</h6>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="imgbx9">

                </div>
                <br />
                <div class="content">
                    <h2>Baddhakonasana – Butterfly Pose</h2>
                    <br />
                    <p>1. Sit straight on the floor with erect spine and bend your knees by bringing feet as close as
                        possible.</p>
                    <p>2. Try to touch the soles of your feet each other.</p>
                    <p>3. Hold your feet with your hands.</p>
                    <p>4. Start flapping like a butterfly by bringing thighs up and down slowly for 1-2 minutes.</p>
                    <p>5. You can do it fast also. </p>
                    <br />
                    <h5>Benefits - <h6> Improve function of abdominal organs, prostate glands, bladder, and kidneys.
                        </h6>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="imgbx10">

                </div>
                <br />
                <div class="content">
                    <h2>Balasana – Child Pose</h2>
                    <br />
                    <p>1. Place your hand on thighs and palms down. Maintain the position of thighs.</p>
                    <p>2. While exhaling slowly bring your chest between your knees and swinging hands forward.</p>
                    <p>3. Breathe gently and hold the posture for 2 to 3 minutes.</p>
                    <p>4. Then come to starting position. Repeat this cycle for 5-10 time.</p>
                    <br />
                    <h5>Benefits - <h6> Releases stress, tension, and fatigue. Cures back pain.</h6>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
