<!--<html>

<head>
    <title>Mainpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="imgbx1">

            </div>
            <div class="content">
                <h2>Pushups</h2>
                <br/>
                <p>1. Start in a plank position. Your core should be tight, shoulders pulled down and back, and your neck neutral.</p>
                <p>2. Bend your elbows and begin to lower your body down to the floor. When your chest grazes it, extend your elbows and return to the start.</p>
                <p>3. If you can’t quite perform a standard pushup with good form, drop down to a modified stance on your knees.</p>
                <p>4. Complete 3 sets of as many reps as possible.</p>
                <br/>

            </div>
        </div>
        <div class="card">
            <div class="imgbx2">


            </div>
            <div class="content">
              <h2>Side Lunge</h2>
              <br/>
              <p>1. Start standing with legs.</p>
              <p>2. slightly wider than shoulder-distance apart and toes pointed forward.</p>
              <p>3. Shift your body weight to one leg bending the knee until it reaches a 90-degree angle the other leg is straight.</p>
              <p>4. Glutes are pressing back behind you. Return to center and switch sides.</p>
              <br/>
            </div>
        </div>
        <div class="card">
            <div class="imgbx3">
                <div class="img"></div>
            </div>
            <div class="content">
                <h2>Standing overhead dumbbell presses</h2>
                <br/>
                <p>1. Pick a light set of dumbbell start by standing, either with your feet shoulder-width apart or staggered.</p>
                <p>2. Move the weights overhead so your upper arms are parallel to the floor.</p>
                <p>3. Bracing your core, begin to push up until your arms are fully extended above your head.</p>
                <p>4. After a brief pause, bend your elbows and lower the weight back down until your tricep is parallel to the floor again.</p>
                <p>5. Complete 3 sets of 12 reps.</p>
                <br/>
                
            </div>
        </div>
        <div class="card">
            <div class="imgbx4">


            </div>
            <div class="content">
                <h2>Single-leg deadlifts</h2>
                <br/>
                <p>1. Begin standing with a dumbbell in your right hand and your knees slightly bent.</p>
                <p>2. Hinging at the hips, begin to kick your left leg straight back behind you, lowering the dumbbell down toward the ground.</p>
                <p>3. When you reach a comfortable height with your left leg, slowly return to the starting position in a controlled motion.</p>
                <p>4. Repeat 10 to 12 reps before moving the weight to your left hand and repeating the same steps on the left leg.</p>
                <br/>
            </div>
        </div>
        <div class="card">
            <div class="imgbx5">

            </div>
            <div class="content">
                <h2>Side planks</h2>
                <br/>
                <p>1. Lie on your right side with your left leg and foot stacked on top of your right leg and foot.</p>
                <p>2. Prop your upper body up by placing your right forearm on the ground, elbow directly under your shoulder.</p>
                <p>3. Contract your core to stiffen your spine and lift your hips and knees off the ground, forming a straight line with your body.</p>
                <p>4. Return to start in a controlled manner. Repeat 3 sets of 10-15 reps on one side, then switch.</p>
                <br/>
            </div>
        </div>
        <div class="card">
            <div class="imgbx6">

            </div>
            <div class="content">
                <h2>Situps</h2>
                <br/>
                <p>1. Start by lying on the ground on your back with your knees bent, feet flat, and your hands behind your head.</p>
                <p>2. Keeping your feet glued to the ground, begin to roll up from your head, engaging your core throughout.</p>
                <p>3. When your chest reaches your legs, begin the controlled phase back down to the starting position.</p>
                <p>4. Complete 3 sets of 15 reps as a beginner.</p>
                <br>
            </div>
        </div>
        <div class="card">
            <div class="imgbx7">

            </div>
            <div class="content">
              <h2>Squats</h2>
              <br/>
              <p>1. Start by standing straight, with your feet slightly wider than shoulder-width apart, and your arms at your sides.</p>
              <p>2. Keeping your chest and chin up, push your hips back and bend your knees as if you’re going to sit in a chair.</p>
              <p>3. Ensuring your knees don’t bow inward or outward, drop down until your thighs are parallel to the ground.</p>
              <p>4. Complete 3 sets of 20 reps.</p>
              <br/>
            </div>
        </div>
        <div class="card">
            <div class="imgbx8">

            </div>
            <div class="content">
                <h2>Lunges</h2>
                <br/>
                <p>1. Stand tall with feet hip-width apart. Engage your core.</p>
                <p>2. Take a big step forward with right leg. Start to shift your weight forward so heel hits the floor first.</p>
                <p>3. Lower your body until right thigh is parallel to the floor and right shin is vertical.</p>
                <p>4. It’s OK if knee shifts forward a little as long as it doesn’t go past right toe. </p>
                <p>5. Press into right heel to drive back up to starting position.</p>
                <br/>
            </div>
        </div>
        <div class="card">
            <div class="imgbx9">

            </div>
            <div class="content">
              <h2>Jumping Jack</h2>
              <br/>
              <p>1. Stand upright with your legs together, arms at your sides.</p>
              <p>2. Bend your knees slightly, and jump into the air.</p>
              <p>3. As you jump, spread your legs to be about shoulder-width apart. Stretch your arms out and over your head. </p>
              <p>4. Jump back to starting position.</p>
              <p>5. Repeat.</p>
                <br/>
            </div>
        </div>
        <div class="card">
            <div class="imgbx10">

            </div>
            <div class="content">
                <h2>Hip Bridges</h2>
                <br/>
                <p>1. Lie face up on the floor, with your knees bent and feet flat on the ground.</p>
                <p>2. Keep your arms at your side with your palms down.</p>
                <p>3. Lift your hips off the ground until your knees, hips and shoulders form a straight line.</p>
                <p>4. Squeeze those glutes hard and keep your abs drawn in so you don’t overextend your back during the exercise.</p>
                <p>5. Hold your bridged position for a couple of seconds before easing back down.</p>

                <br/>>
            </div>
        </div>
    </div>
</body>

</html>-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-I">
    <title>Html</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <input type="checkbox" id="check">
    <div id="header">
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>Healthy<span>Byte</span></h3>
        </div>
        <div class="right_area">
            <a href="#" class="logout_btn">Logout</a>
        </div>
    </div>
    <div id="navigation">
        <div class="left_area">
            <img [src]="logo">
        </div>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <!-- <div class="left_area">
            <img [src]="logo">
        </div> -->
        <a class="nav-link" routerLink="/main2"><i class="fas fa-home"></i><span>Home<br /></span></a>
        <a class="nav-link" routerLink="/yoga"><i class="fa fa-heartbeat"></i><span>Yoga<br /></span></a>
        <!-- <a class="nav-link" routerLink="/yourdiet"><i class="fa fa-cutlery"></i><span>Diet<br /></span></a> -->
        <a class="nav-link" routerLink="/fitness"><i class="fas fa-running"></i><span>Fitness</span></a>
        <a class="nav-link" routerLink="/blog"><i class="fab fa-blogger-b"></i><span>Blog</span></a>
        <a class="nav-link" routerLink="/discussion"><i class="fa fa-comments" aria-hidden="true"></i><span>Discussion</span></a>
    </div>
    <div id="section">
        <div class="container">
            <div class="card">
                <div class="imgbx1">

                </div>
                <div class="content">
                    <h2>Pushups</h2>
                    <br />
                    <p>1. Start in a plank position. Your core should be tight, shoulders pulled down and back, and your
                        neck neutral.</p>
                    <p>2. Bend your elbows and begin to lower your body down to the floor. When your chest grazes it,
                        extend your elbows and return to the start.</p>
                    <p>3. If you can’t quite perform a standard pushup with good form, drop down to a modified stance on
                        your knees.</p>
                    <p>4. Complete 3 sets of as many reps as possible.</p>
                    <br />

                </div>
            </div>
            <div class="card">
                <div class="imgbx2">


                </div>
                <div class="content">
                    <h2>Side Lunge</h2>
                    <br />
                    <p>1. Start standing with legs.</p>
                    <p>2. slightly wider than shoulder-distance apart and toes pointed forward.</p>
                    <p>3. Shift your body weight to one leg bending the knee until it reaches a 90-degree angle the
                        other leg is straight.</p>
                    <p>4. Glutes are pressing back behind you. Return to center and switch sides.</p>
                    <br />
                </div>
            </div>
            <div class="card">
                <div class="imgbx3">
                    <div class="img"></div>
                </div>
                <div class="content">
                    <h2>Standing overhead dumbbell presses</h2>
                    <br />
                    <p>1. Pick a light set of dumbbell start by standing, either with your feet shoulder-width apart or
                        staggered.</p>
                    <p>2. Move the weights overhead so your upper arms are parallel to the floor.</p>
                    <p>3. Bracing your core, begin to push up until your arms are fully extended above your head.</p>
                    <p>4. After a brief pause, bend your elbows and lower the weight back down until your tricep is
                        parallel to the floor again.</p>
                    <p>5. Complete 3 sets of 12 reps.</p>
                    <br />

                </div>
            </div>
            <div class="card">
                <div class="imgbx4">


                </div>
                <div class="content">
                    <h2>Single-leg deadlifts</h2>
                    <br />
                    <p>1. Begin standing with a dumbbell in your right hand and your knees slightly bent.</p>
                    <p>2. Hinging at the hips, begin to kick your left leg straight back behind you, lowering the
                        dumbbell down toward the ground.</p>
                    <p>3. When you reach a comfortable height with your left leg, slowly return to the starting position
                        in a controlled motion.</p>
                    <p>4. Repeat 10 to 12 reps before moving the weight to your left hand and repeating the same steps
                        on the left leg.</p>
                    <br />
                </div>
            </div>
            <div class="card">
                <div class="imgbx5">

                </div>
                <div class="content">
                    <h2>Side planks</h2>
                    <br />
                    <p>1. Lie on your right side with your left leg and foot stacked on top of your right leg and foot.
                    </p>
                    <p>2. Prop your upper body up by placing your right forearm on the ground, elbow directly under your
                        shoulder.</p>
                    <p>3. Contract your core to stiffen your spine and lift your hips and knees off the ground, forming
                        a straight line with your body.</p>
                    <p>4. Return to start in a controlled manner. Repeat 3 sets of 10-15 reps on one side, then switch.
                    </p>
                    <br />
                </div>
            </div>
            <div class="card">
                <div class="imgbx6">

                </div>
                <div class="content">
                    <h2>Situps</h2>
                    <br />
                    <p>1. Start by lying on the ground on your back with your knees bent, feet flat, and your hands
                        behind your head.</p>
                    <p>2. Keeping your feet glued to the ground, begin to roll up from your head, engaging your core
                        throughout.</p>
                    <p>3. When your chest reaches your legs, begin the controlled phase back down to the starting
                        position.</p>
                    <p>4. Complete 3 sets of 15 reps as a beginner.</p>
                    <br>
                </div>
            </div>
            <div class="card">
                <div class="imgbx7">

                </div>
                <div class="content">
                    <h2>Squats</h2>
                    <br />
                    <p>1. Start by standing straight, with your feet slightly wider than shoulder-width apart, and your
                        arms at your sides.</p>
                    <p>2. Keeping your chest and chin up, push your hips back and bend your knees as if you’re going to
                        sit in a chair.</p>
                    <p>3. Ensuring your knees don’t bow inward or outward, drop down until your thighs are parallel to
                        the ground.</p>
                    <p>4. Complete 3 sets of 20 reps.</p>
                    <br />
                </div>
            </div>
            <div class="card">
                <div class="imgbx8">

                </div>
                <div class="content">
                    <h2>Lunges</h2>
                    <br />
                    <p>1. Stand tall with feet hip-width apart. Engage your core.</p>
                    <p>2. Take a big step forward with right leg. Start to shift your weight forward so heel hits the
                        floor first.</p>
                    <p>3. Lower your body until right thigh is parallel to the floor and right shin is vertical.</p>
                    <p>4. It’s OK if knee shifts forward a little as long as it doesn’t go past right toe. </p>
                    <p>5. Press into right heel to drive back up to starting position.</p>
                    <br />
                </div>
            </div>
            <div class="card">
                <div class="imgbx9">

                </div>
                <div class="content">
                    <h2>Jumping Jack</h2>
                    <br />
                    <p>1. Stand upright with your legs together, arms at your sides.</p>
                    <p>2. Bend your knees slightly, and jump into the air.</p>
                    <p>3. As you jump, spread your legs to be about shoulder-width apart. Stretch your arms out and over
                        your head. </p>
                    <p>4. Jump back to starting position.</p>
                    <p>5. Repeat.</p>
                    <br />
                </div>
            </div>
            <div class="card">
                <div class="imgbx10">

                </div>
                <div class="content">
                    <h2>Hip Bridges</h2>
                    <br/>
                    <p>1. Lie face up on the floor, with your knees bent and feet flat on the ground.</p>
                    <p>2. Keep your arms at your side with your palms down.</p>
                    <p>3. Lift your hips off the ground until your knees, hips and shoulders form a straight line.</p>
                    <p>4. Squeeze those glutes hard and keep your abs drawn in so you don’t overextend your back during
                        the exercise.</p>
                    <p>5. Hold your bridged position for a couple of seconds before easing back down.</p>
                    <br/>
                </div>
            </div>
        </div>
        </div>
</body>

</html>
